html body {
  background-color: #1A1A1A;
  color: #FEFEFE;
  height: 100%;
}

.no-padding > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

nav {
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
}

.panel-body {
  color: black;
}

.navbar {
  margin-bottom: 0;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.carousel-inner > .item > img {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  width: 100%;
  filter: brightness(55%) blur(0.5px);
  -webkit-filter: brightness(55%) blur(0.5px);
  -moz-filter: brightness(55%) blur(0.5px);
  -o-filter: brightness(55%) blur(0.5px);
  -ms-filter: brightness(55%) blur(0.5px);
}

.cover {
  margin-bottom: 30px;
}

.name {
  font-family: Pacifico;
  font-size: 5em;
}

#banner {
  width: 100%;
  height: 30%;
  margin-bottom: 30px;
}

.content {
  margin-bottom: 80px;
}

#avatar {
  max-width: 100%;
  border-radius: 5px;
}

#content img:hover {
  filter: brightness(65%) blur(0.2px);
  -webkit-filter: brightness(65%) blur(0.2px);
  -moz-filter: brightness(65%) blur(0.2px);
  -o-filter: brightness(65%) blur(0.2px);
  -ms-filter: brightness(65%) blur(0.2px);
}

#container {
  width: 200px;
  height: 200px;
  position: relative;
  margin-top: 20px;
}

#container2 {
  width: 200px;
  height: 200px;
  position: relative;
  margin-top: 20px;
}

#container3 {
  width: 200px;
  height: 200px;
  position: relative;
  margin-top: 20px;
}

#container4 {
  width: 200px;
  height: 200px;
  position: relative;
  margin-top: 20px;
}

#container5 {
  width: 200px;
  height: 200px;
  position: relative;
  margin-top: 20px;
}

#container6 {
  width: 200px;
  height: 200px;
  position: relative;
  margin-top: 20px;
}

#circle-progress {
  text-align: center;
}

@media (min-width: 768px) {
  .navbar-wrapper {
    margin-top: 20px;
    position: absolute;
  }
}

@media (max-width: 768px) {
  .content {
    margin-bottom: 140px;
  }
  .navbar-wrapper {
    position: relative;
  }
  .name {
    font-size: 3.5em;
  }
}

@media (max-width: 992px) {
  #avatar {
    width: 40%;
    margin: 0 auto;
  }
}
